*{
    padding: 0;
    margin: 0;
   box-sizing: border-box;
}
span{
    color: #ee1313;
    font-family:fantasy;
}
body{
    background-color:#928080;
    overflow:hidden;
    width: 100%;
    height: 129vh;
}
.container{
    width: 100%;
}

/* Navbar section*/
.navbar{
    display: flex;
    justify-content: space-between;
    width: 100%;
}.navbar h1 a{
    color: #000;
    text-decoration: none;
}
nav{
    display: flex;
}nav ul{
    display: flex;
}nav ul li{
    margin: 10px 30px 10px 30px;
    list-style: none;
}nav ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 1.2rem;
    font-weight: 100;
    font-family: Georgia, 'Times New Roman', Times, serif;
}nav ul li a:hover{
    color:#ee1313;
}

/*mobile view*/
/*Hamburger menu*/
.menu-bar{
    margin-left: 0px;
   /* animation-name: bar;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-play-state:paused;*/
}/*
.menu-bar:hover{
    animation-play-state: running;
}

@keyframes bar{
   from{
    rotate: 30deg;
   }
   to{
    rotate: 90deg;
   }
}*/


.bar{
    width: 25px;
    background-color: #fff;
    height: 1vh;
    border-radius: 10px; 
    margin-top: 5px;
   /* animation-delay: 0.1s;*/
}



/*login section*/
.glass{
   
    background-color: rgba(255, 255, 255, 0.5); /* Glass background color with opacity */
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37); /* Box shadow effect */
    backdrop-filter: blur(10px); /* Frosted glass effect */
    /*-webkit-backdrop-filter: blur(10px); /* Safari support */
    border-radius: 10px;
    width: 35%;
    height: 55vh;
    margin-left: 50px;
}
.log-info {
    margin: 10px;
}
.log-info h3{
    margin: 5px 0 10px 0;
    color: #a36b6b;
    font-size: 0.9rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
}/*input*/
.ipt-1{
    margin-bottom: 20px;
    margin-top: 20px;
}
.usrname{
    padding: 15px;
    text-align: center;
    border: 2px solid #fff;
    background-color: rgba(31, 38, 135, 0.37);
    border-radius: 20px;
    width: 400px;
    height: 5vh;
}.usrname:hover{
    background-color:transparent;
    border: 1px solid #000;
}
.passwrd{
    padding: 15px;
    text-align: center;
    border: 2px solid #fff;
    background-color: rgba(31, 38, 135, 0.37);
    border-radius: 20px;
    width: 400px;
    height: 5vh;
}.passwrd:hover{
 background-color: transparent;
 border: 1px solid #000;
}
::placeholder{
    color:#fff;
    font-size: 15px;
}
/*checkbox*/
.check{
    display: flex;
    color: #000;
}

.remember-me{
margin-right:45% ;
margin-left: 10px;

}
.remember-me:hover{
    color: rgb(81, 104, 45);
}
.fogoten-pwd:hover{
    color:rgb(81, 104, 45) ;
}
.lgn{
    text-align: center ;
    margin: 20px;
}
button{
    padding: 20px;
    width: 100%;
    border-radius: 20px;
    color: #fff;
    text-transform: uppercase;
    background-color:#ee1313 ;
    box-shadow: 0 8px 32px 0#ee1313 ;
    border: none;
}
button:hover{
    font-weight: bold;
    background-color: #f04343;
    box-shadow: 0 8px 32px 0#f04343;
    cursor: pointer;
}

footer{
    margin-top: 200px;
}

@media screen and (max-width:320px){
    body{
        width: 100%;
        box-sizing: border-box;
        height: 129vh;
    }/*
    .navbar{
        width: %;
    }*/
    .container{
    background-color: rgba(255, 255, 255, 0.5); /* Glass background color with opacity */
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37); /* Box shadow effect */
    backdrop-filter: blur(10px); /* Frosted glass effect */
        width: 100%;
    }
    .navbar h1{
        font-family: Arial, Helvetica, sans-serif;
        font-size: 20px;
       /* color: white;*/
        margin-left: 50px;
        width: 20px;
        margin-top: 20px;
    }nav{
        display: flex;
        justify-content: space-between;
        margin-top: 20px;
    }
    nav ul{
        display: none;
    }
    .bar{
        margin-left: 0px;
        height: 0.4vh;
        display: flex;
    }
 .glass{
    margin-top: auto;
    margin-bottom: auto;
    width: 200px;
    height: 50vh;
    text-align: center;
 }
 .usrname{
    width: 55%;
    padding: 15px 10px 15px 10px;
    height: 2vh;
    border-radius:5px;
    text-align: left;
    background-color: #000;
 }
 .passwrd{
    width: 55%;
    padding: 15px 10px 15px 10px;
    height: 2vh;
    border-radius:5px;
    text-align: left;
    background-color: #000;
 }
 
 .check{
    display: flex;
    justify-content: center;
    margin-top: 35px;
 }
 .remember-me{
    width: auto;
    margin-right: 20px;
   
 }
 .fogoten-pwd{
    width: auto;
    position: absolute;
    /*left: 60%;*/
    bottom: 50%; 
 }/*
 button{
    margin-top: 5px;
 }*/
 .foot p {
    margin-bottom:5px;
    font-size: 15px;
 }
 .lst-prt a{
    color: #a36b6b;
 }
 .lst-prt a:hover{
    font-size: 20px;
    color: #f04343;
 }
 footer p{
  text-align: center;
 }
}